.top img{
    height: 100px;
    width: 340px;
    margin-left: 15px;
    padding-top: 10px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(71, 182, 144);
}

.top button{
    height: 30px;
    width: auto;
    margin-top: 10px;
    background-color: rgb(255, 229, 33);
    border: none;
    border-radius: 10PX;
    font-size: 12px;
    margin-left: 10px;
}

