body {
    box-sizing: border-box;
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

li {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    height: 1em;
    list-style: none;
    margin: 1em 1em 0 1em;
    padding: .5em 0;
    text-align: center;
    width: 13em;
}

#gr-Option-Bar #li-user {
    background-color: rgb(255, 229, 33);
    border: none;
}

a {
    text-decoration: none;
}

/* *********** HEADER *********** */

#gr-List-Sede-Gen {
    background-color: white;
    border-bottom: 2px solid rgb(255, 229, 33);
    float: left;
    height: 6em;
    left: 20%;
    /* position: relative; */
    width: 80%;
}

#gr-List-Sede-Gen img {
    height: 6.3em;
    margin-left: 35%;
    /* position: relative; */
}

/* *********** NAVEGADOR LATERAL *********** */

#gr-Opcion-Bar {
    background-color: rgb(255, 229, 33);
    float: left;
    height: 40em;
    /* position: fixed; */
    width: 20%;
}

#gr-Profile, #gr-Img-Profile {
    border-radius: 50%;
    height: 6.5em;
    margin-left: 25%;
    margin-top: 2em;
}

#gr-Img-Profile {
    margin-left: 4.5em;
}

#gr-Option-Bar>span {
    float: right;
    font-weight: bold;
    margin: 3em .5em 0 0;
}

/* *********** AGENDA *********** */

#calendar {
    border-radius: 5px;
    border: 1px solid gray;
    height: 12em;
    width: 13em;
    margin: 2em 1em 0 1em;
}

/* *********** MAIN CONTAINER *********** */

#gr-Main-Container {
    background-color: white;
    height: 39.2em;
    left: 21%;
    top: 7em;
    /* position: relative; */
    margin-left: 20.5%;
    padding: 0;
    width: 70.5%;

}

#gr-Header-Main-Container {
    float: left;
    /* box-sizing: content-box; */
    /* display: inline-flex; */
    margin-left: 1%;
    margin-top: 1em;
    width: auto;
}

#gr-Header-Main-Container>span {
    height: 100%;
    font-size: 1.2em;
    float: left;
    padding: .3em .5em;
    /* position: relative; */
}

#gr-Header-Main-Container>img {
    height: 1.5em;
    float: left;
    padding: .5em 0;
}

.grLocationText {
    height: 8em;
    width: 13em;
    background-color: white;
    display: none;
}

.grContainerSedes:hover {
    display: block;
}


/* inicia seccion de lista */
body section #container #list-name li {
    border: none;
    cursor: auto;
    text-align: left;
    float: left;
    margin: 0;
}

#list-name {
    width: 15%;
    padding: 0;
    height: auto;
}

#buttons {
    width: 10%;
    /* margin-left: 95%; */

}

#btn-all-list, #btn-active, #btn-inactive, #btn-clear {
    width: 5em;
    height: 3em;
    /* display: block; */
    background-color: #56F89A;
    border: 1px solid #FF009E;
    border-radius: 3px;
    float: left;
    text-align: center;
    margin-bottom: .5em;
    cursor: pointer;
}

#btn-clear{
    background-color:  #FF009E;
    border: 1px solid #56F89A;
    color: white;
}

body section #container {
    height: 30em;
        width: 70%;
}

h3 {
    margin-top: .5em;
    width: 20%;
    float: left;
}

#bothcont{
float: left;
width: 100%;
}

#container, #buttons{
    float: left;
}
