@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800,900,900i|Pacifico|Yanone+Kaffeesatz:400,700');
*{
    box-sizing: border-box;
  }

body{
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
  }
/* HEADER DESIGN */
#header {
    background-color:transparent;
    position: absolute;
    height: 80px;
    left:0;
    padding: 0;
    top:0;
    width: 100%;
    z-index: -1;
}


li.nav-profile img {
    border-radius: 50%;
    display: inline-block;
    width: 50px;
}

li.nav-profile .nav-profile-name {
    display: inline-block;
    font-family: 'Pacifico', cursive;
}

#header .nav ul li {
    float: right;
    list-style-type: none;
    position: relative;
    right: 40px;
}

/* SIDEBAR MENU DESIGN */
#sidebar-nav {
    background: transparent;
    height: 100%;
    margin: 0;
    padding-right: 0;
    position: fixed;
    top: 50px;
    width: 200px;
    z-index: 1;
    cursor: pointer;
}

#sidebar-nav ul.menu {
    list-style-type: none;
}

#sidebar-nav ul li{
    margin-bottom: 50px;
    text-align: justify;
}

#sidebar-nav ul li:hover {
    background: #ffba00;
    width: 100%;
}

#sidebar-nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

.Elle{
    width: 100%;
    position: relative;
    top: -80px;
    z-index: -1;
}
