body {
    background: url("../assets/images/ElleLab.jpg") no-repeat center center fixed;
    background-size: cover;
}

form {
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
}

#login {
    display: block;
    border: solid 3px #D3D3D3;
    border-radius: 20px;
    height: 300px;
    margin-left: 150px;
    margin-right: auto;
    margin-top: 230px;
    width: 370px;
}

input {
    font-size: 15px;
    height: 30px;
    text-align: left;
    outline: none;
    margin: 5px;
    width: 245px;
}

.box {
    display: block;
    height: 35px;
    padding: 5px 55px 5px 55px;
}

#forgotten-password {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-left: 210px;
    margin-top: 100px; 

}

/* color scheme
#fce689
#fbeab6
#d7d2be
#b6ddd8
#86a9a5
#8f8d89
*/