/*
 * Estilos deL proyecto
 */

 * {
  box-sizing: border-box; /*justas un elemento con box-sizing: border-box*/
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

 header{
 background-color: #2A3845;
 height: 80px;
 width: 100%;
 color: white;
 }

 .logo {
   margin-top: 7px;
   margin-left: 20px;
  width: 15%;
  float: left;
 }

 #titulo > h1 {
  color: #f7ad14;
  padding-top: 20px;
  text-align: center;
  font-size: 65px;
  font-family: 'Didact Gothic', sans-serif;
 }

 .jon {
 margin-top: 10px;
 float: right;
 height: 70%;
 weight: 15px;
 border-radius: 100%;
 margin-right: 20px;
 }

 .fa-bell {
 color: white;
 float: right;
 margin-right: 30px;
 margin-top: 20px;
}
.fa-bars {
  color: white;
  float: right;
  margin-right: 155px;
  margin-top: 20px;
}

 /* Boton Menu*/
 .caja-menu{
 float: right;
 margin: 50px -190px;
}

 .caja-menu ul{
 width: 180px;
 list-style: none;
 margin-right: 20px;
 height: 250px;
 font-size: 20px;
 border-radius: 20px;
 transition: 0.8s;
 }

 .caja-menu ul hr{
   width: 80px;
   margin-top: 8px;
   margin-left: 40px;
 }
 .caja-menu ul li{
 text-align: center;
 margin-top: 10px;
 color: #fcfcfc;
 }

 .caja-menu ul li:hover{
   background-color: #f7ad14;
 }

 .perfil-jon{
   width: 60px;
   height: 60px;
   margin-left: 45px;
   margin-top: 10px;
   border-radius: 100%;
 }

 .mostrar-menu{
 display: block;
 background: #1c2f40;
 padding: 10px;
 }


 .ocultar-menu{
 display: none;
 }

 .clearfix{
 overflow: auto;
 }

 .fa-wrench {
   color: white;
   float: left;
}

 .fa-line-chart {
   text-align: center;
   color: #2A3845;
   margin-left: 640px;
 }

/*  Menu (overview,stident y teacher)*/
 #menu {
 margin-top: 20px;
  width: 400px;
  font-weight: 700;
  float: left;
  margin-left: 480px;
}

 #menu ul a {
  color: #5D5D5D ;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  background-color: #fff;
  border-bottom: 6px solid #FFC107 ;
  transition: border-bottom .7s;
  font-family: 'Montserrat', sans-serif;
 }

 #menu ul a:hover {
  border-bottom: 9px solid #2A3845 ;
 }

/* boton de seleccion*/

 #filtro {
  margin-top: 20px;
  text-align: center;
 }

 #filtro-sedes{

 margin-left: 200px;
 text-align: center;
 width: 400px;
 height: 30px;
 margin: 20px 350px;
 font-size: 16px;
 }

#arequipa {
   background-image: url("assets/images/peru.png");
   background-repeat: no-repeat;
   padding-left: 25px;
   line-height: 50px;
   margin-bottom: 2px;
 }

/*--------------------CONTENIDOSS---------------*/

/*--SECCION OVERVIEW (ESTILOS DE GRAFICA)*/
#overviewTab {
  overflow: auto;
  width: 100%;
}

.graficasTotal {
  background-color: #2A3845;
  padding: 35px;
  text-align: center;
  color: white;
  float: left;
  height: 480px;
  margin: 50px 20px 50px 250px;
  vertical-align: top;
  width: 880px;
  box-shadow: 4px 4px 4px #c4c4c4;
  border-radius: 8px;
  overflow: hidden;

}

.graficasTotal span {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
}


.contenedor-cajas {
  height: 100px;
  margin-top: 80px;
}

.contenedor-grafica {
  background-color: #4c5a66;
  color: white;
  display: block;
  text-align: center;
  width: 180px;
  height: 140px;
  padding: 0.8em;
  border-radius: 6px;
  margin: 20px 20px;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;

}

.grafica {
  margin-top: -100px;
  margin-left: 200px;
  /*background-color: black;*/
}

.contenedor-grafica p{
  width: 150px;
}

.grafica img {
  padding-left: 10px;
  padding-bottom: 10px;
}

.datoText {
  font-size: 3.4em;
  font-weight: 300;
  border-bottom: 1px solid #ffff;
  width: 2.7em;
  height: 1.2em;
}

#dropout-porcentaje {
  font-size: 40px;
color: #db345b;
 font-weight: 700;
 font-family: 'Barlow', sans-serif;
 text-align: center;
 margin-right: 30px;
}

.cajaTexto {
  font-size: .8em;
  padding-top: 1em;
}

/* SECCION ALUMNAS */
#studentsTab {
  overflow: inherit;
}

.contenedor-coders{
   float: right;
   width: 810px;
   margin-top: 70px;
   margin-right: 220px;
   background-color: #404d59;
   border-radius: 20px;
}

.coders{
  width: 690px;
  margin: 15px 10px 15px 15px;

}

.info-coders{
float: right;
width: 500px;
}

.foto {
  width: 180px;
  height: 180px;
  background-size:cover;
  border-radius: 20px;
}

.nombre{
  font-size: 30px;
  margin-left: 200px;
  text-align:justify;
  color: #bbbd58;
}

.tech {
  font-size: 18px;
  margin-top: 40px;
  margin-left: 50px;
  color: #dbd3d6;
}

.hse {
  font-size: 18px;
  margin-top: 5px;
  color: #dbd3d6;
  margin-left: 50px;
}

.active {
  font-size: 18px;
  margin-top: 20px;
  color: #dbd3d6;
  margin-left: 50px;
}

/*.especializacion {
  position: relative;
  background-color: #b51d1d;
  width: 200px;
  height: 100px;
  padding: 1em;
  box-shadow: 2px 2px 2px #aaa8a8;
}

.especializacion h4 {
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: #4C4743;
}*/

/* SECCION TEACHERS */

#teachersTab {
  overflow: auto;
  margin-top: 100px;
}

.contenedor-teacher{
  width: 900px;
  margin-left: 400px;
}
.contenedor-teacher div{
  display:inline-block;
  margin: 20px 20px;
}

.contenedor-teacher div img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.info{
  float: right;
  margin-bottom: 20px;
  font-size: 30px;
}
#teachersTab  hr{
  width: 800px;
  margin-top: 100px;
  margin-left: 300px;
  box-shadow: -2px 3px 11px 2px #a8a7a2;
}
#teachersTab  h4{
  text-align: center;
  margin-top: 80px;
  font-size: 35px;
  color: #f7ad14;

}
.cajas-graficas-teacher{
  margin-top: 30px;
}
