/*quitando estilos predeterminados*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*agregando estilos a header*/
header{
    width: 100%;
    height: 90px;
    background: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
header img{
    height: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
header .fa{
    font-size: 35px;
    margin: 25px;
    position: absolute;
    right: 0;
}

/*agregando estilos a nav*/
nav{
    background: #e4e2df;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 90px;
}

nav div{
    width: 100%;
}

nav select{
    background: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    height: 45px;
    margin: 10px;
    padding: 5px;
    width: 260px;
}
.see-info{
    background: #d8d6d3;
}

.see-info li{
    display: inline-block;
    font-size: 25px;
    margin: 10px;
}
