/*
 * Estilos de tu proyecto
 */
/* estilo header, section-2 , section-5, lista desplegable*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.capital-letter {
    text-transform: uppercase;
}
header {
    text-align: center;
    font-size:36px;
}
.logo {
    width: 300px;
    text-align: center;
    display: inline-block;
}
.icons-header {
    display: inline-block ;
    position: absolute;
    right:0px; 
    margin: 20px;
}
.icons-header i {
    padding: 0 5px;
    color: rgba(0, 0, 0, 0.54)
}
.section-1{
    height: 150px;
    background: #e1e1e1;
    padding-left: 175px;
    padding-top: 20px;
}
.section-1 h3 {
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
    color: #2a2440;
}
.section-1 span a {
    display: inline-block;
    padding: 0 12px;
    position: relative;
    top: 7px;
    color: #2a2440;
}
.section-1 div {
    padding-top: 40px;
}
.section-1 h5{
    display: inline-block;
    margin-right:20px;
    color: #2a2440;
    font-size: 20px;
    font-weight: 900;
}
.section-1 h5 a {
    text-decoration: none;
    color: #2a2440;
}
.section-1 h5:first-child {
    border-bottom: 5px solid #ffc107;
}
.section-2 {
    float: left;
    width: 100%;
    text-align: center;
    background: #f7f7f7;
    height: 380px;
}
.box-info {
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align:center;
    margin: 30px;
    background: #ffffff;
    padding: 15px 10px;
}
.box-info h6 {
    font-size:18px;
    text-align: left;
    display: inline-block;
}
.box-container-data{
  padding: 7px;
  }
.box-data{
    width: 130px;
    height: 60px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    background-color: #e1e1e1;
}
.box-data span {
    display :inline-block;
    width: 110px;
    height: 20px ;
    margin-bottom: 10px;
}
.box-data p {
    display: inline-block;
    font-size: 9px;
    width: 110px;
    height: 25px ;
    margin: 0;
    line-height: 8px;
}
.box-info img {
    display: inline-block;
    width: 261px;
    height: 154px;
}
.box-data ul {
    list-style: none;
    word-wrap: break-word;
    font-size: 10px;
    text-align: left;
    display: inline-block;
    padding: 9px;
}
.section-5{
    float: left;
    width: 100%;
    text-align: center;
    background: #f7f7f7;
}
.box-evaluation {
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align:center;
    margin: 30px;
    background: #ffffff;
    padding: 15px 10px; 
}
.box-points {
    margin-top:20px;
    width: 150px;
    padding: 5px 0px;
    display: inline-block;
    background: #e1e1e1;
}
.box-evaluation h6 {
    font-size: 18px;
}
.box-evaluation p {
    font-size: 30px;
    font-weight: 900;
}
.box-evaluation span {
    font-size: 10px;
}
.list-city {
    padding:10px;
    width:200px;
    background:#ffffff;
    height:450px;
    display: block;
    text-align: left;
}
.list-city ul li {
    list-style: none;
    line-height: 30px;
    font-size: 14px;
}
.list-city ul li a {
display: inline-block;
width: 12px;
height:12px;
border: 2px solid #ffc107;
margin: 0 5px;
border-radius:2px;
}
.list-city ul li:first-child {
    font-weight: 700;
    border-bottom: 3px solid #ffc107;
}