/*
 * Estilos de tu proyecto
 */
/* Se utiliza un selector universal para 
remover cualquier estilo anterior de los elementos  */
* {
	border: none;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
 }
 header{
    
 }

.container {
    width: 100%;
    height: 65px;
    /*background-color: #ffc107; */
    color: #333333; 
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.71429;
    outline: 1px solid #EBEBEB;
    
 }
 
.container img {
    width: 200px;
    height: 65px;
    margin-left: 37%;
    float: left;
    align-self: center;
}


input{
    width: 162px;
    height: 22px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #EBEBEB;
    margin-right: 0px;
    margin-left: 285px;
    margin-top: 20px;
}

.content{
    text-align: center;
}

.content img{
    display: inline-block;
    margin: 40px;
} 

.container .fa{
    color: #EBEBEB;
}
/*inicio del Footer*/
footer.foot{
    background-color: #333333;
    width:100%;
    height:300px;
    

}
/*Iconos*/
.redes-sociales{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}    
.redes-sociales .icons h3{
   color: #F7B617;
   margin-top: 40px;
   text-transform: uppercase;


}
.redes-sociales a{
    float: left;
   
}
.icons{
    display: inline-block;
    margin:30px;
}

.redes-sociales a i{
    font-size: 40px;
    color: #FFF;
    padding-top: 15px;
    margin-left: 30px;

}

/*.redes-sociales a:hover{
    
}
*/
.redes-sociales a i:hover{
    color: #F7B617 ;
}
.copyright{
    margin-top: 76px;
    color: #FFF;
    font-size: 11px;

input{
    width: 162px;
    height: 22px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #EBEBEB;
    margin-right: 0px;
    margin-left: 285px;
    margin-top: 20px;
}

.content{
    text-align: center;
}

.content img{
    display: inline-block;
    margin: 40px;
    outline: 1px solid red;
} 

.container .fa{
    color: #EBEBEB;
}
/*inicio del Footer*/
footer.foot{
    background-color: #333333;
    width:100%;
    height:300px;
    

}
/*Iconos*/
.redes-sociales{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}    
.redes-sociales .icons h3{
   color: #F7B617;
   margin-top: 40px;
   text-transform: uppercase;


}
.redes-sociales a{
    float: left;
   
}
.icons{
    display: inline-block;
    margin:30px;
}

.redes-sociales a i{
    font-size: 40px;
    color: #FFF;
    padding-top: 15px;
    margin-left: 30px;

}

/*.redes-sociales a:hover{
    
}
*/
.redes-sociales a i:hover{
    color: #F7B617 ;
}
.copyright{
    margin-top: 76px;
    color: #FFF;
    font-size: 11px;

}

/* Menu */

nav{
	width: 200px;
    position: relative;
    left: 280px;
    bottom: 365px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
li{
	background: grey;

}
a{
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 10px
}
a:hover{
	background: #e0e0d1;
}
a:active{
	background:#333;
	color: #FFF; 
}
ul li:first-child{
	background: #f9a91a;
	
}
ul li:first-child a {
	color:#FFF;
	
}
ul li:first-child a:hover {
	color:#000;
	
}
ul li:first-child a:active {
	color:#FFF;
	

}