/*
 * Estilos de tu proyecto
 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box-info {
    background-color: white;
    text-align: center;
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 10px;
    
}

.box-rating  {
    background-color: white;
    text-align: center;
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 10px;
}

select {
    display: block;
    
    margin: 10px auto;
    height: 30px;
    border-radius: 10px;
}

.red {
    color: red;
}

.green {
    color: rgb(34, 202, 34);
}

.orange {
    color: orange;
}

.dropout{
    float: left;
    color: red;
    background-color: #F7F7F7;
    width: 43%;
    height: 75px;
    margin: 5px;
    position: relative;
    left: 9px;
}

.inline-block {
    float: left;
    background-color: #F7F7F7;
    width: 43%;
    height: 75px;
    margin: 5px;
    position: relative;
    left: 9px;
}

.box-courser-percen{
    float: left;
    background-color: #F7F7F7;
    width: 43%;
    height: 75px;
    margin: 5px;
    position: relative;
    left: 45px;
}

.title-principal{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 10px;
    
}

.title-principal:after, .title-principal:before {
    content: '';
    width: 7%;
    height: 5px;
    background-color: #f7b617;
    display: inline-block;
    margin: 0 20px 0 13px;
  }



.boxrating{
    background-color: #F7F7F7;
    width: 43%;
    height: 75px;
    margin: 5px;
    position: relative;
    left: 27%;
    float: left;
    
}



.box-courses{
    display: block;
    background-color: white;
     width: 95%;
     height: 300px;
     margin: 0 0 10px 22px;
     text-align: center;
}

.name-user {
    position: relative;
    left: 62px;
    bottom: 20px;
}


.style-number {
    margin: 7px;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
}

.percentage-nps{
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
}

.canvas{
    position: relative;
    bottom: 45%;
    }

.box-canvas{
    width: 87%;
    height: 50%;
    position: relative;
    top:30%;
    left: 7%;
}

.style-description{
    font-family: 'Cairo', sans-serif;
    font-size: 10px;
    line-height: 1;
    margin: 5px;
    text-transform: uppercase;
}
.title {
    margin:0 0 25px 0;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    position: relative;
    top: 10px;
}






/*Styles a la página web*/
 *{
    margin: 0;
    padding: 0;
  }
  /*Alineo mi texto en el centro*/
body{
    text-align: center;
    background-color: #F7F7F7;
    }
header{
    width: 100%;
    overflow: hidden;/*para desplazar algunos elementos de izquierda y derecha*/
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    background: #333;
    height: 100px;
   }
.head{
    width: 95%;
    max-width: 100%;
    margin: auto;
    height: inherit;
    overflow: hidden;/*para desplazar algunos elementos de izquierda y derecha*/
    }

.logo-header{
     width: 15%;
     float: left;
     padding: 1%;
     margin: 10px;
    }
  header nav{
     float: right;
     position: relative;
     right: 120px;
     top: 17px;
    /* padding-right: 2%; */
    }
  header nav a{
      display: inline-block;
      color: black;
      text-decoration: none;
      padding: 10px 10px;
      line-height: normal;
      font-size: 15px;
      font-weight: bold;
    }
  header nav a:hover{
     color: #ffc107;
    }
  header nav a:active{
      color: #eff3f2;
      background-color: #18bc9c;
      padding: 10px;
      border-radius: 5px;
     }
  .menu{
      width: 20%;
      float: left;
      height: 100vh;
      background: #333;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
            }
 #result{
     background: #F7F7F7;
     padding: 40px ;
     width: 80% ;
     height: auto;
     float: left;
 }

 /*Style para el menú*/

 ul.acorh,
 ul.acorh * {
 margin: 0;
 padding: 0;
 border: 0;
 }
 ul.acorh {
 margin: 0 auto;
 padding: 0;
 list-style: none;
 width: 100%;
 font-size: 18px;
 }
 ul.acorh li {
 list-style: none;
 }
 /*Primeros títulos*/
 /*---------------------*/
 ul.acorh li a {
   display: block;
   padding: 10px 10px 10px 20px;
   background: #ffc107;
   color: black;
   border-bottom: 1px solid #000;
   border-top: 1px solid #666;
   text-decoration: none;
   box-sizing: border-box;
   }
   ul.acorh li ul {
   max-height: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   transition: .9s all ease-in;
   }
   ul.acorh li li a {
   padding: 10px 10px 10px 40px;
   background: #999;
   color: #000;
   font-size: 16px;
   border: 0;
   border-bottom: 1px solid #ccc;
   box-sizing: border-box;
   }
   ul.acorh li li:last-child a {
   border-bottom: 0;
   }
   ul.acorh li:hover ul {
   max-height: 1000px;
   transition: .9s all ease-in;
   }
   ul.acorh li a:hover {
   background: #ffd044;
   color: black;
   }
  /*---------------------*/
  ul.acorh ul.children li {
   list-style: none;
   }

  ul.acorh ul.children li a {
   display: block;
   padding: 10px 10px 10px 20px;
   background: #BBB8B8;
   color: #080808;
   border-bottom: 1px solid #000;
   border-top: 1px solid #666;
   text-decoration: none;
   box-sizing: border-box;
   }
   ul.acorh ul.children li ul {
   max-height: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   transition: .9s all ease-in;
   }
   ul.acorh ul.children li li a {
   padding: 10px 10px 10px 40px;
   background: #C5B8B8;
   color: #000;
   font-size: 16px;
   border: 0;
   border-bottom: 1px solid #ccc;
   box-sizing: border-box;
   }
   ul.acorh ul.children li li:last-child a {
   border-bottom: 0;
   }
   ul.acorh ul.children li:hover ul {
   max-height: 300px;
   transition: .9s all ease-in;
   }
   ul.acorh ul.children li a:hover {
   background: #666;
   color: #fff;
   }
 /*---------------------------*/
 
 ul.acorh ul.children  ul.children2 li {
   list-style: none;
   }
 ul.acorh ul.children ul.children2 li a {
   display: block;
   padding: 10px 10px 10px 20px;
   background: #333;
   color: #eee;
   border-bottom: 1px solid #000;
   border-top: 1px solid #666;
   text-decoration: none;
   box-sizing: border-box;
   }
   ul.acorh ul.children ul.children2 li ul {
   max-height: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   transition: .9s all ease-in;
   }
   ul.acorh ul.children ul.children2 li li a {
   padding: 10px 10px 10px 40px;
   background: #999;
   color: #000;
   font-size: 16px;
   border: 0;
   border-bottom: 1px solid #ccc;
   box-sizing: border-box;
   }
   ul.acorh ul.children ul.children2 li li:last-child a {
   border-bottom: 0;
   }
   ul.acorh ul.children ul.children2 li:hover ul {
   max-height: 300px;
   transition: .9s all ease-in;
   }
   ul.acorh ul.children ul.children2 li a:hover {
   background: #666;
   color: #fff;
   }
   /*Para la imagen del usuario*/
   .silueta{
    width: 75%;
    border-radius: 50%;
    margin: 6% 8%;
    }
    figcaption{
        color: white;
    }
/*styles del canvas */
.canvas{
    position: relative;
    bottom: 45%;
    }

.box-canvas{
    width: 87%;
    height: 50%;
    position: relative;
    top:30%;
    left: 7%;
}

