/*
 * Estilos de tu proyecto
 */
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat';
 }
header{
    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 89px;
}
nav{
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.logo{
 
     width: auto;
     margin: 0 auto;
     height: 89px;
 }
.a-logo img{
    width: 100%;
    height: 100%;
}
.bar-lab{
    width: 40px;
    height: 40px;
    z-index: 101;
    /* border: 2px solid #f7b617; */
    position: absolute;
    right: 0;
    top:25%;
    text-align: center;

}
.bar-lab a{
    color:#333333;
    text-align: center;
}
.bar{
    background-color: #e1e1e1;
}
section{
    background-color: #F7F7F7;
}