<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/images/theL.ico" />
    <title>ENROLLED STUDENTS - ACTIVE</title>
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/active-students.css" />

</head>

<body>
    <header>
        <div class="container">
            <p class="user">AYANA</p>
        </div>
    </header>

    <!--SIDEBAR MENU-->
    <div class="sidenav">
        <ul class="menu">
            <li class="sb-item">
                <i class="fas fa-laptop"></i>
                <a href="../views/home.html">HOME</a>
            </li>
            <li class="sb-item">
                <i class="fas fa-feather"></i>
                <a href="../views/main.html">MAIN</a>
            </li>
            <li class="sb-item">
                <i class="fas fa-address-card"></i>
                <a href="laboratorians.html">LABORATORIANS</a>
            </li>
        </ul>
    </div>
    <div class="title">
        <h1>Active Students</h1>
    </div>
    <!--FLOWERS BACKGROUND-->
    <div class="main">
        <img src="../assets/images/flowersactive.jpg">
    </div>
    <!--The menu to show how many active students are according to their location and generation-->
    <section class="styled-select">
        <select id="filter" onchange="showSemester()">
            <option>Select an option</option>
            <optgroup id="aqp" label="Arequipa">
                <option value="2016-2" data-city="AQP" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="AQP" data-classyear="2017-1">2017-1</option>
            </optgroup>
            <optgroup id="cdmx" label="Mexico City">
                <option value="2017-1" data-city="CDMX" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="CDMX" data-classyear="2017-2">2017-2</option>
            </optgroup>
            <optgroup id="lima" label="Lima">
                <option value="2016-2" data-city="LIM" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="LIM" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="LIM" data-classyear="2017-2">2017-2</option>
            </optgroup>
            <optgroup id="santiago" label="Santiago">
                <option value="2016-2" data-city="SCL" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="SCL" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="SCL" data-classyear="2017-2">2017-2</option>
            </optgroup>
        </select>
    </section>
    <section class="active-laboratorians">
        <p id="activeAQP162"></p>
        <p id="activeAQP171"></p>
        <p id="activeCDMX171"></p>
        <p id="activeCDMX172"></p>
        <p id="activeLIM162"></p>
        <p id="activeLIM171"></p>
        <p id="activeLIM172"></p>
        <p id="activeSCL162"></p>
        <p id="activeSCL171"></p>
        <p id="activeSCL172"></p>
    </section>
    <script src="../js/data.js"></script>
    <script src="../js/active.js"></script>
</body>

</html>