<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Active Students</title>
    <link rel="stylesheet" href="../css/design/active-students.css"/>
</head>
<body onload="bodyOnLoad()">
        <!--The menu to show how many active students are according to their location and generation-->
        
        <select id="filter" class="students-data" onchange="selectOption(this.value)">
            <option>Select an option</option>
            <!-- 
            <option value="arequipa2" data-location="AQP" data-semester="2017-1">Arequipa - 2017-1</option>
            <option value="arequipa1" data-location="AQP" data-semester="2016-2">Arequipa - 2016-2</option>
            <option value="cdmx2" data-location="CDMX" data-semester="2017-2">Mexico City - 2017-2</option>
            <option value="cdmx1" data-location="CDMX" data-semester="2017-1">Mexico City - 2017-1</option>
            <option value="lima1" data-location="LIM" data-semester="2017-2">Lima - 2017-2</option>
            <option value="lima2" data-location="LIM" data-semester="2017-1">Lima - 2017-1</option>
            <option value="lima3" data-location="LIM" data-semester="2016-2">Lima - 2016-2</option>
            <option value="chile1" data-location="SCL" data-semester="2017-2">Chile - 2017-2</option>
            <option value="chile2" data-location="SCL" data-semester="2017-1">Chile - 2017-1</option>
            <option value="chile3" data-location="SCL" data-semester="2016-2">Chile - 2016-2</option> 
            -->  
        </select>
    
        <p id="number"></p>
    
    <script src="../js/data.js"></script>
    <script src="../js/active.js"></script>
</body>
</html>
