<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i|Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <title>Santiago de Chile 1ra Generación</title>
  </head>
  <body class="body-1">
    <section id="home">
      <div class="items-uno">
        <h3>TMs</h3>
        <img class="Usuario" src="../assets/images/lucile.jpg" alt="user">
        <h2>Lucile</h2>
        </div>
      <div class="charts">
        <h1># Estudiantes</h1>
      </div>
      <div class="charts">
        <h1>Tech</h1>
      </div>
      <div class="charts">
        <h1>HSE</h1>
      </div>
      <div class="charts">
        <h1>Santiago de Chile <br> 1ra Generación</h1>
      </div>
      <div class="charts">
        <h1>NPS</h1>
      </div>
      <div class="charts">
        <h1>Sprints</h1>
      </div>
      <div class="charts">
        <h1>Teachers</h1>
      </div>
      <div class="charts">
        <h1>Jedis</h1>
      </div>
    </section>

    <!-- Base de datos -->
		<script src="./js/data.js"></script>
		<!-- Aquí va tus archivos JS -->
    <script src="./js/app.js"></script>
  </body>
</html>
