<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Amaranth:400,700|Montserrat+Alternates:400,600,700,800,900"
                rel="stylesheet">
    <title>Students</title>
  </head>
  <body>
    <a href="home.html"><button id="return" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></a>
    <div id="search">
      <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
      <input type="text" name="search_name" placeholder=" Search">
    </div>
    <section id="pics">
      <img id="jess" class="photo" src="../assets/images/Jessica-Moran.JPG" alt="photo">
      <img id="kar" class="photo" src="../assets/images/Karla-Miranda.JPG" alt="photo">
      <img id="aide" class="photo" src="../assets/images/Aide-Marquez.JPG" alt="photo">
      <img id="ari" class="photo" src="../assets/images/Arinta-Osorio.JPG" alt="photo">
      <img id="cris" class="photo" src="../assets/images/Cristina-Canchola.JPG" alt="photo">
      <img id="may" class="photo" src="../assets/images/Mayra-Cruz.JPG" alt="photo">
    </section>
      <img id="logo-3" class="photo" src="../assets/images/logo-laboratoria.svg" alt="photo">
    <main class="student">
      <img id="ada" class="photo" src="../assets/images/Adalid-Garcia.JPG" alt="photo">
      <h4 id="stdt-selected" >Adalid Garcia</h4>
      <h5 class="info"> Front-end Developer</h5>
      <h5 class="info"> Tech skills 78% </h5>
      <h5 class="info"> HSE skills 82% </h5>
      <h5 class="info"> HSE skills 90% </h5>
    </main>
    <script src="./js/app.js"></script>
  </body>
</html>
