<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> Data Dashboard</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="../css/gralAQPmain.css">
    </head>

    <body>
        <!-- *********** NAVEGADOR LATERAL *********** -->
        <nav id='gr-Opcion-Bar'>
            <div class="gr-Profile">
                <img id="gr-Img-Profile" src="../assets/images/profile.jpg" alt="User's Profile">
            </div>
            <li id="li-user"><a href="#"> USER </a></li>
            <li><a href="#"> STUDENTS </a></li>

        <!-- *********** HEADER *********** -->
        <header id="gr-List-Sede-Gen">
            <!-- logo de laboratoria en el header -->
            <img src="../assets/images/BrandLabo/Laboratoria_Logo_RGB_01.png" alt="Laboratoria's Logo">
        </header>

        <!-- *********** MAIN CONTAINER *********** -->
        <section id="gr-Main-Container">
            <div id="gr-Header-Main-Container">
                <span> SEDE AQP </span>
                <img src="../assets/images/Laboratoria_corchetes-30.png" alt="imagen flechas">
                <span> GENERATION 2016-2</span>
            </div>
            <div class="active-students">
                <h3>Active Students</h3>
                <div id="number-of-active-students">
                    <p id="paragraph-number-of-active-students"></p>
                </div>
            </div>
            <div class="inactive-students">
                <h3>Inactive Students</h3>
                <div class="container-inactive-students">
                    <div class="list-of-inactive-students">

                    </div>
                    <div id="percentage-of-inactive-students">
                        <p id="paragraph-percentage-of-inactive-students"></p>
                    </div>
                </div>
            </div>
            <div class="satisfied-students">
                <h3>Satisfied Students</h3>
                <div class="number-of-satisfied-students">

                </div>
            </div>
        </section>

        <!-- Base de datos -->
        <script src="../js/data.js"></script>
        <!-- Aquí va tus archivos JS -->
        <script src="../js/gralAQPapp.js"></script>
    </body>

</html>
