<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i|Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <title>Home</title>
  </head>
  <body class="body-1">
    <section id="home">
      <div class="items-uno">
        <h3>TMs</h3>
        <img class="Usuario" src="../assets/images/lucile.jpg" alt="user">
        <h2>Lucile</h2>
        </div>
      <div class="items">
        <h1>Location</h1>
        <img id="location" src="../assets/images/location.jpg" alt="Location">
      </div>
      <div class="items">
        <h1>Students</h1>
        <img id="students"src="../assets/images/students.jpg" alt="Student">
      </div>
      <div class="items">
        <h1>Calendar</h1>
        <img id="calendar" src="../assets/images/calendar.jpg" alt="Calendar">
      </div>
      <a href="http://www.laboratoria.la/" target="_blank"><div class="items">
        <img id="logo-2"src="../assets/images/logo-laboratoria.svg" alt="Logo">
      </div></a>
      <div class="items">
        <h1>Work-Lab</h1>
        <img id="worklab"src="../assets/images/worklab.jpg" alt="Worklab">
      </div>
      <div class="items">
        <h1>Chat-Lab</h1>
        <img id="chat" src="../assets/images/chat.jpg" alt="Chat">
      </div>
      <a href="https://medium.com/laboratoria" target="_blank"><div class="items">
        <h1>Newsweek</h1>
        <img id="newsweek"src="../assets/images/newsweek.jpg" alt="newsweek">
      </div></a>
      <div class="items">
        <h1>Settings</h1>
        <img id="settings" src="../assets/images/settings.jpg" alt="Settings">
      </div>
    </section>


  </body>
</html>
