<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/images/theL.ico"/>
    <title>HOME</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css"/>
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
</head>
<body>
            <!--HEADER-->
    <div id="header">
        <div class="header-nav">
            <div class="nav">
                <ul>
                    <li class="nav-profile">
                        <div class="nav-profile-image">
                            <img src="../assets/images/profileheader.png" alt="profile image">
                            <div class="nav-profile-name">AYANA
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    <!--SIDEBAR MENU-->
    <div id="sidebar-nav">
        <ul class="menu">
            <li>
                <a href="#">
                    <i class="fas fa-laptop"></i> HOME 
                </a>
            </li>
            <li>
                <a href="locations.html">
                    <i class="fas fa-feather"></i> MAIN
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-address-card"></i> LABORATORIANS
                </a>
            </li>
        </ul>
    </div>
    <div class="Elle">
            <img src="../assets/images/README/Elle.jpg"width="1350" height="660" alt="Elle">
    </div>

    <!--LINKING JS FILES-->
    <script src="../js/data.js"></script>
    <script src="../js/active.js"></script>
</body>
</html>