<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/images/theL.ico"/>
    <title>Jedis Average</title>
    <link rel="stylesheet" href="../css/jedi.css"/>
</head>
<body>
    
    <!--The menu to show how many inactive students there are according to their location and generation-->
    <section>
        <select id="filter" onchange="showSemester()">
            <option>Select an option</option>
            <optgroup id="aqp" label="Arequipa">
                <option value="2016-2" data-city="AQP" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="AQP" data-classyear="2017-1">2017-1</option>
            </optgroup>
            <optgroup id="cdmx" label="Mexico City">
                <option value="2017-1" data-city="CDMX" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="CDMX" data-classyear="2017-2">2017-2</option>
            </optgroup>
            <optgroup id="lima" label="Lima">
                <option value="2016-2" data-city="LIM" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="LIM" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="LIM" data-classyear="2017-2">2017-2</option>
            </optgroup>
            <optgroup id="santiago" label="Santiago">
                <option value="2016-2" data-city="SCL" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="SCL" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="SCL" data-classyear="2017-2">2017-2</option>
            </optgroup>
        </select>
    </section>
    <section>
        <p id="aJediAqp162"></p>
        <p id="aJediAqp171"></p>
        <p id="aJediCdMx171"></p>
        <p id="aJediCdMx172"></p>
        <p id="aJediLim162"></p>
        <p id="aJediLim171"></p>
        <p id="aJediLim172"></p>
        <p id="aJediScl162"></p>
        <p id="aJediScl171"></p>
        <p id="aJediScl172"></p>
    </section>
    <script src="../js/data.js"></script>
    <script src="../js/jedis.js"></script>
</body>
</html>
