<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen"/>
  </head>
  <body>
    <!--Box to Log In-->
    <section class="user">
      <div class="imgcontainer">
          <img src="https://fondify.mx/proyectos/241/foto/Laboratoria_Isotipo%20CodeAcademy.png" alt="Avatar" class="avatar">
          <h1>Username</h1>
      </div>
      <div class="ElleLab">
        <img src="../assets/images/ElleLab.jpg" alt="elleLab">
      </div>

    <div id="login">
      <label for="uname"></label>
      <form name="login" onsubmit="return validation()">
        <input type="text" id="username" name="uname" placeholder="Username" value="">
        <br>
        <input type="password" id="password" name="pwd" placeholder="Password" value="">
        <br>
        <div class="container">
          <button type="submit"><a href="home.html" class="button">LOGIN</a></button>
          <label class="label">
            <input class="label" type="checkbox" checked="checked" name="remember">Remember me
          </label>
          <div class="container">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw"><a href="#">Forgot Password?</a></span>
          </div>
        </div>
    </div>
      </form>
    </section> 
    <!-- Database -->
    <script src="../js/data.js"></script>
    <!-- JS FILES -->
    <script src="../js/login.js"></script>
  </body>
</html>
