<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/images/theL.ico"/>
    <title>ELLE-MAIN</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  

    <link rel="stylesheet" href="../css/main.css"/>

</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/images/theL.ico"/>
    <title>HOME</title>
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
    <link rel="stylesheet" href="../css/home.css"/>

</head>
<body>
    <header>
        <div class="container">
            <p class="user">AYANA</p>
        </div>
    </header>
    

    <!--SIDEBAR MENU-->
    <div class="sidenav">
        <ul class="menu">
            <li class="sb-item">
                <i class="fas fa-laptop"></i>
                <a href="../views/home.html">HOME</a>
            </li>
            <li class="sb-item">
                <i class="fas fa-feather"></i>
                <a href="../views/main.html">MAIN</a>
            </li>
            <li class="sb-item">
                <i class="fas fa-address-card"></i>
                <a href="laboratorians.html">LABORATORIANS</a>
            </li>
        </ul>
    </div>

    <!--DIFERENT OPTIONS OF STATISTICS-->
    <div class="enrolled">
        <ul>
            <li>
                <a href="..//views/activestudents.html">ENROLLED STUDENTS <br> ACTIVE</a>
            </li>
        </ul>
    </div>
    <div class="dropout">
        <ul>
            <li>
                <a href="..//views/inactivestudents.html">DROPOUT STUDENTS <br> INACTIVE</a>
            </li>
        </ul>
    </div>
    <div class="successful">
        <ul>
            <li>
                <a href="..//views/successful.html">SUCCESSFUL STUDENTS <br> HSE AND TECH</a>
            </li>
        </ul>
    </div>
    <div class="jedis">
        <ul>
            <li>
                <a href="..//views/jedis.html">JEDIS' AVERAGE</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="..//views/contentstudents.html">CONTENT STUDENTS</a>
            </li>
        </ul>
    </div>
    <div class="teachers">
        <ul>
            <li>
                <a href="..//views/teachers.html">TEACHERS' AVERAGE</a>
            </li>
        </ul>
    </div>

    <!--LINKING JQUERY-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--LINKING JS FILES-->
    <script src="../js/data.js"></script>
    <script src="../js/home.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>