<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/images/theL.ico"/>
    <title>Teachers Average</title>
    <link rel="stylesheet" href="../css/teachers.css"/>
</head>
<body>
    
    <!--The menu to show how many inactive students there are according to their location and generation-->
    <section>
        <select id="filter" onchange="showSemester()">
            <option>Select an option</option>
            <optgroup id="aqp" label="Arequipa">
                <option value="2016-2" data-city="AQP" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="AQP" data-classyear="2017-1">2017-1</option>
            </optgroup>
            <optgroup id="cdmx" label="Mexico City">
                <option value="2017-1" data-city="CDMX" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="CDMX" data-classyear="2017-2">2017-2</option>
            </optgroup>
            <optgroup id="lima" label="Lima">
                <option value="2016-2" data-city="LIM" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="LIM" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="LIM" data-classyear="2017-2">2017-2</option>
            </optgroup>
            <optgroup id="santiago" label="Santiago">
                <option value="2016-2" data-city="SCL" data-classyear="2016-2">2016-2</option>
                <option value="2017-1" data-city="SCL" data-classyear="2017-1">2017-1</option>
                <option value="2017-2" data-city="SCL" data-classyear="2017-2">2017-2</option>
            </optgroup>
        </select>
    </section>
    <section>
        <p id="aTeacherAqp162"></p>
        <p id="aTeacherAqp171"></p>
        <p id="aTeacherCdMx171"></p>
        <p id="aTeacherCdMx172"></p>
        <p id="aTeacherLim162"></p>
        <p id="aTeacherLim171"></p>
        <p id="aTeacherLim172"></p>
        <p id="aTeacherScl162"></p>
        <p id="aTeacherScl171"></p>
        <p id="aTeacherScl172"></p>
    </section>
    <script src="../js/data.js"></script>
    <script src="../js/teachers.js"></script>
</body>
</html>
